/* Light MObile */

.mobile_gb-light {
  position: absolute;
  width: 550px;
  height: 868px;
  left: 664px;
  top: 53px;

  background: #23252c;
}
.mobile_profile-light {
  position: absolute;
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;

  background: url("C:\\Users\\ramza\\OneDrive\\Pictures\\IMG-20220517-WA0004.jpg");
  background-size: 317px 317px;
  border-radius: 10px 10px 0px 0px;
}
.mobile_buttom-light {
  position: absolute;
  width: 317px;
  height: 463px;
  left: 116px;
  top: 361px;
  background: #f0f0f1;
}
.Name-light {
  position: absolute;
  width: 178.06px;
  height: 25.81px;
  left: 186px;
  top: 382px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;

  color: #2b283a;
}
.Pation-discription-light {
  position: absolute;
  width: 178.06px;
  height: 14.19px;
  left: 186px;
  top: 422px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 15px;
  text-align: center;

  color: #f47d27;
}
.discription-light {
  position: absolute;
  width: 228px;
  height: 16px;
  left: 161px;
  top: 440px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* identical to box height, or 15px */

  text-align: center;

  color: #4a4e74;
}
.email_button-light {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;

  position: absolute;
  width: 115px;
  height: 34px;
  left: 151px;
  top: 468px;

  /* white */

  background: #ffffff;
  /* gray/300 */

  border: 1px solid #d1d5db;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.linkdin_button-light {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;

  position: absolute;
  width: 115px;
  height: 34px;
  left: 283px;
  top: 468px;

  color: #f5f5f5;
  background: #5093e2;
  /* shadow/sm */
  border: 1px solid #5093e2;

  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.info-section-light {
  position: absolute;
  width: 248px;
  height: 198px;
  left: 151px;
  top: 500px;
}
.about-light {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #2b283a;
}
.about_info-light {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */

  color: #2b283a;
}
.Interests-light {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #2b283a;
}
.Interests_info-light {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */

  color: #2b283a;
}
.buttom_icon-light {
  position: absolute;
  width: 317px;
  height: 64px;
  left: 116px;
  top: 760px;

  background: #d5d4d8;
  border-radius: 0px 0px 10px 10px;
}
.twitter_icon-light {
  position: absolute;
  left: 13%;
  top: 13%;
  color: #ffffff;
}
.facebook_icon-light {
  position: absolute;
  left: 33%;
  top: 13%;
  color: #ffffff;
}
.instagram_icon-light {
  position: absolute;
  left: 53%;
  top: 13%;
  color: #ffffff;
}
.github_icon-light {
  position: absolute;
  left: 73%;
  top: 13%;
  color: #ffffff;
}
